<h2 mat-dialog-title class="dialog-title">Nova categoria</h2>
<form [formGroup]="categoryForm" (ngSubmit)="submit()">
  <mat-form-field style="width: 100%">
    <mat-label>Nome da categoria</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>Cor</mat-label>
    <input matInput type="color" formControlName="color" />
  </mat-form-field>
  <button
    mat-button
    style="margin-left: -16px"
    (click)="onNoClick()"
    color="primary"
  >
    Cancelar
  </button>
  <button mat-raised-button color="primary" style="float: right" type="submit">
    Criar
  </button>
</form>
