<div
  style="position: fixed; width: 100%; height: 80px; background-color: #191919"
>
  <div class="weekDate border-right" style="width: calc(100% / 8 - 2px)"></div>
  <div
    class="weekDate"
    *ngFor="let dia of dias; let i = index"
    [class.border-right]="i != 6"
    [class.border-left]="i == 0"
  >
    <p style="text-align: center; margin-bottom: 5px">{{ dia.semana }}</p>
    <h2 style="text-align: center">{{ dia.mes }}</h2>
  </div>
</div>
<div style="margin-top: 80px">
  <div class="coluna-dia border-right">
    <div class="hora" *ngFor="let hora of horas">
      <p>{{ hora - 1 }}:00</p>
    </div>
  </div>
  <div
    class="coluna-dia"
    *ngFor="let dia of dias; let i = index"
    [class.border-right]="i != 24"
  >
    <div class="hora" *ngFor="let hora of horas"></div>
  </div>
</div>
