.formOutline{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #323232;
  border-radius: 1em;
  margin-top: 50vh;
  transform: translateY(-50%);
  background-color: #323232;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 520px) {
  .formOutline{
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
    border: unset;
    border-radius: unset;
    margin-top: unset;
    transform: unset;
    background-color: unset;
    box-shadow: unset;
  }
}
