<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">HelpDesk</h1>
    <div
      style="
        border: 2px solid #331d00;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: 8px;
      "
    >
      <img
        src="../../assets/foto.jpg"
        alt="foto"
        style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%"
      />
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <h1 class="example-app-name" mat-list-item>HelpDesk</h1>
        <button mat-list-item (click)="scope = 'd'">
          <span class="material-icons"> view_day </span>&emsp;Dia
        </button>
        <button mat-list-item (click)="scope = 'w'">
          <span class="material-icons"> calendar_view_week </span>&emsp;Semana
        </button>
        <button mat-list-item (click)="scope = 'm'">
          <span class="material-icons"> calendar_view_month </span>&emsp;Mês
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item>
          <span class="material-icons"> category </span>&emsp;Categorias
        </button>
        <button mat-list-item>
          <span class="material-icons"> school </span>&emsp;Matérias
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <month-view *ngIf="scope == 'm'"></month-view>
      <week-view *ngIf="scope == 'w'"></week-view>
      <day-view *ngIf="scope == 'd'"></day-view>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
